.appcontainer {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(30, 30, 30);
    color: white
}

.app {
    background-color: rgb(30, 30, 30);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.playlistSection {
    background-color: rgb(25, 25, 25);

    grid-column: 1 / 3;
    grid-row: 1 / 10;
    overflow-y: auto;
}

.displaySection {
    grid-column: 3 / 11;
    grid-row-start: 1;
    grid-row-end: 10;
}


.playlistHeader {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%
}
#addButton {
    background-color: rgb(25, 25, 25);
    border: 0px;
    color: white;
    font-size: 2rem;
    align-content: center;
}
#addButton:active {
    background-color: rgb(122, 122, 122);
}

#playlistList {
    list-style: none;
    padding: 0px;
}


.audioPlayer {
    grid-row: 10 / 10;
    grid-column: 1 / 11;
}

#queueDisplay {
    padding-left: 10px;
    display: none;
    background-color: rgb(10, 10, 10);
    grid-row: 1 / 10;
    grid-column: 9 / 11;
    flex-direction: column;
}

.queueDisplayTable {
    width: 100%;
    height: fit-content;
    border-collapse: collapse;
}

.queueDisplayHeader {
    border-bottom: 2px solid rgb(70, 70, 70);
    text-align: left;
    pointer-events: none;
    user-select: none;
}

.queueDisplayTable td {
    padding-top: 20px;
    padding-bottom: 20px;
    width:auto;
    user-select: none;
}

.queueDisplayTable tr:hover {
    background: rgb(20, 20, 20);
}

