.playlistBackground {
    /* background-color: green; */
    background-color: rgb(24, 24, 24);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#playlistTitle {
    color: rgb(80, 80, 80);
    padding-left: 10px;
}

#trackEntries {
    list-style: none;
    padding: 0px;
}