
.background {
    background: rgb(30, 30, 30, .5);
    /* opacity: .5; */
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    opacity: 1.0;
}

.bruh {
    display: none;
}